body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Arial;
	background-color: #eeeeee;
	font-size: 1.1em;
}
.options {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1px;
	color: red;
}
.symbols {
	width: 6vw;
	height: 6vw;
	border-radius: 100%;
	background-color: #67E06F;
	margin: 3px;
	display: inline-block;
	color: #67E06F;
}
.clue {
	width: 3vw;
	height: 3vw;
	display: inline-block;
	border: thin solid grey;
	border-radius: 100%;
	margin: 0px;
	padding: 0px;
}
.gameSpace {
	max-width: 100%;
	width: 40vw;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}