body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, Arial;
	background-color: #eeeeee;
	font-size: 1.1em;
}
#btn {
	font-family: Helvetica; 
	font-size: 150%; 
	background-color: grey; 
	color: white; 
	border: 2px solid white; 
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
}
#btn:hover {
	background-color: white;
	color: grey; 
	border: 2px solid grey; 
	border-radius: 5px;
	cursor: pointer;
}
.symbols {
	width: 15%;
	font-size: 1px;
	padding-top: 15%;
	border-radius: 100%;
	background-color: #67E06F;
	margin: 3px;
	display: inline-block;
	color: #67E06F;
}
.clue {
	width: 7%;
	padding-top: 7%;
	display: inline-block;
	border: thin solid grey;
	border-radius: 100%;
	margin: 0px;
}
.gameSpace {
	max-width: 100%;
	width: 600px;
	max-width: 95%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}